@charset "UTF-8";

*{
    margin: 0; padding: 0; font-size: 1.1em; font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(14, 0, 36);
}
main{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: rgba(255, 255, 255, 0.055);
    border: 1px groove black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
section div#hora{
    border: 1px solid black;
    background-color: rgb(14, 0, 36);
    padding: 5px;
    margin-bottom: 5px;
    color: darkseagreen;
}
section div#calendario{
    display: flex;
    color: rgb(179, 230, 231);
}
.diaSemana{
    color: orange;
    margin-right: 5px;
    font-size: 12px;
}

