@charset "UTF-8";

*{
    margin: 0; padding: 0;
}
body{
    background-color: cadetblue;
}
header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header h1{
    margin: 20px 0px;
}
main{
    padding: 10px;
    height: 98vh;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
section#entradaDados{
    background-color: white;
    text-align: center;
    border: none;
    align-self: center;
    padding: 20px;
    border-radius: 10px;
}
input{
    border: none;
    padding: 10px;
    margin: 10px;
    width: 200px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.13);
}
textarea{
    border: none;
    width: 220px;
    height: 100px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.13);
}
button#criar, button.btnreload{
    width: 150px;
    padding: 12px;
    background-color: crimson;
    border: none;
    border-radius: 10px;
}
button.btnreload{
    margin: 10px;
    background-color: greenyellow;
    align-self: center;
}
footer{
    text-align: center;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 2px;
}

.novasessao{
    width: 400px;
    height: 400px;
    background-color: rgb(34, 34, 34);
    align-self: center;
    color: white;
}
