@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
header{
    text-align: center;
    background-color: gray;
    margin-bottom: 10px;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
header section{
    background-color: lightgray;
    border-radius: 5px;
    margin: auto;
    width: 600px;
    text-align: center;
}
header section div{
    background-color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}
#divLatitude{
    border: 2px solid darkblue;
}
#divLongitude{
    border: 2px solid darkred;
}
header button{
    display: inline;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: rgb(255, 255, 255);
}

/* corpo */
/* aside {
    display: inline;
    width: 150px;
    height: 5px;
    padding: 10px;
    top: 0px;
    font-size: 0.85rem;
    color: black;
} */
main{
    padding: 10px;
    display: flex;
    justify-content: center;
}
section.conteudos{
    display: flex;
    width: 928px;
}
#linhaLatitude, #linhaLongitude {
    position: absolute;
}

#linhaLatitude{
    width: 928px;
    height: 5px;
    background: rgba(255,0,0, 0.5);
}

#linhaLongitude {
    width: 5px;
    height: 595px;
    background: rgba(0,0,255, 0.5);
}
#mapa {
    -webkit-user-drag: none;
    user-select: none;
    width: 928px;
    height: 596px;
    border: 1px solid black;
}
/*rodapé*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 2px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}