@charset "UTF-8";

*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: darkslategrey;
}
main h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 2px;
    border-radius: 10px 10px 0px 0px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
form{
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.144);
    border-radius: 10px;
}
input{
    appearance: none;
    padding: 5px;
    border: 1px solid gray;
}
input[type = text]{
    border-radius: 0px 0px 10px 10px;
    font-size: 1.2em;
}
input[type = text]:focus{
    border: none;
    outline: none;
    background-color: rgba(128, 128, 128, 0.235);
}

div#container{
    background-color: white;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-size: 1.1em;
    border-radius: 10px;
}
div#container > button{
    position: absolute;
    bottom: -2vh;
    right: -5px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: white;
}
button#logout:active{
    background-color: rgba(255, 0, 0, 0.269);
}